Source: netdata-go.d.plugin
Section: net
Priority: optional
Maintainer: Daniel Baumann <daniel.baumann@progress-linux.org>,
Build-Depends:
 debhelper-compat (= 13),
 golang-any,
 golang-github-apparentlymart-go-cidr-dev,
 golang-github-blang-semver-dev,
 golang-github-cloudflare-cfssl-dev,
 golang-github-coreos-go-systemd-dev,
 golang-github-data-dog-go-sqlmock-dev,
 golang-github-fsnotify-fsnotify-dev,
 golang-github-go-redis-redis-dev,
 golang-github-go-sql-driver-mysql-dev,
 golang-github-gofrs-flock-dev,
 golang-github-mattn-go-isatty-dev,
 golang-github-miekg-dns-dev,
 golang-github-mitchellh-go-homedir-dev,
 golang-github-prometheus-common-dev,
 golang-github-smartystreets-goconvey-dev,
 golang-github-stretchr-testify-dev,
 golang-github-valyala-fastjson-dev,
 golang-github-vmware-govmomi-dev,
 golang-go-flags-dev,
 golang-gopkg-check.v1-dev,
 golang-gopkg-ini.v1-dev,
 golang-gopkg-yaml.v2-dev,
Rules-Requires-Root: no
Standards-Version: 4.5.1
Homepage: https://github.com/netdata/go.d.plugin
Vcs-Browser: https://git.progress-linux.org/users/daniel.baumann/debian/packages/netdata-go.d.plugin
Vcs-Git: https://git.progress-linux.org/users/daniel.baumann/debian/packages/netdata-go.d.plugin

Package: netdata-plugins-go
Section: net
Architecture: linux-any
Depends:
 netdata-core (>= ${source:Version}) | netdata-core-no-sse (>= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 netdata-plugins,
Enhances:
 netdata-core,
 netdata-core-no-sse,
Description: real-time performance monitoring (Go plugins)
 Netdata is distributed, real-time, performance and health monitoring for
 systems and applications. It provides insights of everything happening on the
 systems it runs using interactive web dashboards.
 .
 This package contains the plugins written in Go.
 .
 FIXME:
 github.com/Wing924/ltsv v0.3.1
 github.com/axiomhq/hyperloglog v0.0.0-20191112132149-a4c4c47bc57f
 github.com/ilyam8/hashstructure v1.1.0
 github.com/likexian/whois-go v1.7.1
 github.com/likexian/whois-parser-go v1.14.5
 github.com/niemeyer/pretty v0.0.0-20200227124842-a10e7caefd8e // indirect
 github.com/prometheus/prometheus v2.5.0+incompatible
 github.com/tomasen/fcgi_client v0.0.0-20180423082037-2bb3d819fd19
 layeh.com/radius v0.0.0-20190322222518-890bc1058917
